* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: rgb(18, 36, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (orientation: landscape){
    #drawSpace {
        height: calc(.8 * 100vh);
        width: calc(.8 * 100vh);
    }
    #background {
        height: 100vw;
        width: 100vw;
    }
}
@media (orientation: portrait){
    #drawSpace {
        height: calc(.8 * 100vw);
        width: calc(.8 * 100vw);
    }
    #background {
        height: 100vh;
        width: 100vh;
    }
}
#controls {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    z-index: 100;
}
#background {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    z-index: -100;
}
#background>.item{
    /* border:  */
}
#background>.head{
    outline: 1px solid rgba(255,255,255, .2);
}
#appContainer {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;;
    position: relative;
}
#appContainer>.item {
    border: 1px solid black
}
#drawSpace {
    background-color: rgba(255,255,255, .8);
    border: 2px solid black;
    border-radius: 5px;
}
