* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: rgb(18, 36, 54);
    overflow: hidden;
}

@media (orientation: landscape){
    #background {
        height: 100vw;
        width: 100vw;
    }
    #drawSpace {
        height: calc(.8 * 100vh);
        width: calc(.8 * 100vh);
    }
}
#app {
    height: calc(2 * 100vh);
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: transform 1s;
}
    #app.showingControls{
        transform: translateY(-50%);
    }
    #controls, #appContainer{
        flex: 1 0 50%;
    }


@media (orientation: portrait){
    #background {
        height: 100vh;
        width: 100vh;
    }
    #drawSpace {
        height: calc(.8 * 100vw);
        width: calc(.8 * 100vw);
    }
}
#toggleControls{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 30px;
}
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
#background {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    z-index: -100;
}
    #background>.occupied{
        outline: 1px solid rgba(255,255,255,.1);
    }

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;;
    z-index: 100;
}
#drawSpace {
    background-color: rgba(255,255,255, 1);
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    #drawSpace>.item {
        border: 1px solid black;
    }
